<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="robots" content="noindex">
        <title>Meta Layoff Discord Server Verification</title>
    </head>

    <body>
        
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="section"
        style="background: #F57F17;color:white;padding: 10px;"
      >
          <div>
              <b>Disclaimer:</b><br />
              This website is not affiliated with, authorized, endorsed by, or in any way officially connected with Meta, any of its subsidiaries or affiliated companies.
          </div>
      </div>
      <h1 class="header center">Alternative Verification Options</h1>
      <div class="row center">
        <h5 class="header col s12 light">For Metamates and former Metamates</h5>
      </div>
      <br />
    </div>
  </div>


  <div class="container">
    <div class="row">

      <div class="col s12">
        <div class="icon-block">
          <h5>Manual verification for Metamates and former Metamates</h5>
          
          <p class="light">
            For manual verification, please fill out <a href="https://forms.gle/qhfPkhBhrJE5GfZF7">this Google Form</a>. Manual Verification usually takes 1-2 business days, and we'll ping you when we've processed your verification or if we need more info.</p>
        </div>
      </div>
      {% if email %}
      <div class="col s12">
        <div class="icon-block">
          <h5>Metamates, who prefer email verification</h5>

          <p class="light">
            As an alternative to the above verification, you may also send a link to your email to verify your identity.<br />
            <b>We're not storing your email to verify.</b> We just want to make sure you work for who you say you work for. We'll send you a link that expires 15 minutes after it was sent that contains 2 values: the domain you're verifying from, and the time the token expires. You can verify the contents of this token yourself at <a href="https://jwt.io/">jwt.io</a>. Don't share it with anyone else.<br /><br />
            <b>If you've been impacted by the recent layoffs, you CANNOT use this method.</b>
          </p>
          <div class="row email-box">
            <div class="input-field col s6">
              <input placeholder="username@megacorp.co" id="email" name="email" type="text" class="validate">
              <label for="email">Email</label>
            </div>
            <div class="input-field col s6">
              <a class="waves-effect waves-light btn" id="submitEmail">Send Email</a>
            </div>
          </div>
          <div class="row post-email" style="display:none;">
            If your account is within the required domain, you should've just received an email containing your verification link. Check your spam/junk folders.
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <br />
    <div class="section">
        <div>
          frenchie23/metathena - <a href="https://gitlab.com/frenchie23/metathena">View Source on Gitlab (forked from Ventrux/athena)</a>
        </div>
    </div>
  </div>
</div>

        <!--JavaScript at end of body for optimized loading-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script>
          $( "#submitEmail" ).click(function() {
            $('#submitEmail').bind('click', false);
            $.post( "/postAltVerify", { email: $('#email').val() })
              .done(function( data ) {
                $('.email-box').hide();
                $('.post-email').show();
              });
          });
        </script>
    </body>
</html>



