
<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="robots" content="noindex">
        <title>Meta Layoff Discord Server Verification</title>
    </head>

    <body>
        
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h3 class="header center">Transfer Session</h3>
      <p class="center"><b>Here's a link you can use to transfer your session, or a QR code you can scan to use your phone.</b><br />
        This link expires after 15 minutes. Do not share this link with anyone else.
        <div id="qrcode" style="width: 156px;margin: auto;margin-bottom:5px;"></div>
        <textarea
            readonly
            rows="4"
            cols="200"
        >{{ redirect_uri }}</textarea>
        <br /><br />
        <b>Your session has been cleared.</b>
      </p>
      <br />
      <div class="row center">
        <a href="/" id="download-button" class="btn-large waves-effect waves-light grey">Back to Home</a>
      </div>
      <br><br>
    </div>
  </div>

  <div class="container">
    <br />
    <div class="section">
        <div>
          frenchie23/metathena - <a href="https://gitlab.com/frenchie23/metathena">View Source on Gitlab (forked from Ventrux/athena)</a>
        </div>
    </div>
  </div>
</div>

        <!--JavaScript at end of body for optimized loading-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js"></script>
        <script>
          new QRCode("qrcode", {
            text: "{{ redirect_uri }}".padEnd(220),
            width: 156,
            height: 156,
            colorDark : "#000000",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.H
        });
        </script>
    </body>
</html>



